<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Firmas Consuhotel</title>
  </head>
  <body>
    <hr style="width: 450px; margin-left: 0; border-top: solid 1px red"><br>

    <div id="signaturePreview" src="selectedTemplatePath" class="ng-scope">
      <table style="WIDTH: 400px" cellspacing="0" cellpadding="0" width="400" border="0" class="ng-scope" id="signatureSG">
        <tbody>
          <tr>
            <td style="FONT-SIZE: 10pt; FONT-FAMILY: Arial, sans-serif; WIDTH: 400px; line-height:13pt" width="400" colspan="2">
              <span style="FONT-SIZE: 18pt; line-height:18pt; FONT-FAMILY: Arial Black; color:#0E1558" class="ng-binding">Susana Guevara</span><br>
              <span style="FONT-SIZE: 12pt; FONT-FAMILY: Arial Black; color:#16182A" class="ng-binding">MBA. Consultant Senior</span>
              <br><br>
              <span ng-if="showField('mobile')" class="ng-scope"><span>Mobile:</span> <span style="COLOR: #0e1558" class="ng-binding">(506) 8305-5050</span><br></span>
              <span ng-if="showField('phone')" class="ng-scope"><span>Phone:</span> <span style="COLOR: #0e1558" class="ng-binding">(506) 2220-2425</span><br></span>
              <span ng-if="showField('email')" class="ng-scope"><span>Email:</span> <span style="COLOR: #0e1558" class="ng-binding">info@consuhotel.com</span><br></span>
            </td>
          </tr>
          <tr>
            <td style="WIDTH: 150px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px" valign="middle" width="150">
              <a href="http://www.consuhotel.com" target="_blank" rel="noopener" style=" text-decoration:none;">
                <strong style="color:#0000FF; font-family:Arial, sans-serif; font-size:10pt" class="ng-binding">www.consuhotel.com</strong>
              </a>
            </td>
            <td style="WIDTH: 250px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px" width="250" valign="middle" align="right">
              <span ng-if="showField('facebookURL')" class="ng-scope">
                <a href="https://www.facebook.com/ConsuHotel/" target="_blank" rel="noopener"><img border="0" width="24" ng-src="https://raw.githubusercontent.com/rauldario/firmasCH/main/blueF.png" alt="facebook icon" style="border:0; height:24px; width:24px" src="https://raw.githubusercontent.com/rauldario/firmasCH/main/blueF.png"></a>&nbsp;
              </span>
              <span ng-if="showField('youtubeURL')" class="ng-scope">
                <a href="https://www.youtube.com/channel/UCHcNoLawWU2sSCwEMEf4KEQ" target="_blank" rel="noopener"><img border="0" width="24" ng-src="https://raw.githubusercontent.com/rauldario/firmasCH/main/blueYT.png" alt="youtube icon" style="border:0; height:24px; width:24px" src="https://raw.githubusercontent.com/rauldario/firmasCH/main/blueYT.png"></a>&nbsp;
              </span>
              <span ng-if="showField('linkedinURL')" class="ng-scope">
                <a href="https://www.linkedin.com/company/consuhotel/" target="_blank" rel="noopener"><img border="0" width="24" ng-src="https://raw.githubusercontent.com/rauldario/firmasCH/main/blueIN.png" alt="linkedin icon" style="border:0; height:24px; width:24px" src="https://raw.githubusercontent.com/rauldario/firmasCH/main/blueIN.png"></a>&nbsp;
              </span>
            </td>
          </tr>
          <tr ng-if="showField('banner')" class="ng-scope">
            <td style="WIDTH: 399px" width="399" colspan="2" text-align:"right">
              <a ng-if="showField('bannerURL')" href="https://www.consuhotel.com" target="_blank" rel="noopener" class="ng-scope">
                <img border="0" ng-src="https://raw.githubusercontent.com/rauldario/firmasCH/main/logoCH.png" alt="logo" width="auto" style="max-width:399px; height:auto; border:0;" src="https://raw.githubusercontent.com/rauldario/firmasCH/main/logoCH.png">
              </a>
            </td>
          </tr>
        </tbody>
      </table>
      <hr style="width: 450px; margin-left: 0px">
      <button id="button1" onclick="CopyToClipboard('signatureSG')" style="margin-left: 150px; width: 120px; height: 30px; border-radius: 10px; background:#0e1558; color:#FFFFFF; font-family:Arial, sans-serif; font-size:10pt">Copiar Firma</button>
    </div>

    <br><br><hr style="width: 450px; margin-left: 0px; border-top: solid 1px red">
    <hr style="width: 450px; margin-left: 0px; border-top: solid 1px red"><br>

    <div id="signaturePreview" src="selectedTemplatePath" class="ng-scope">
      <table style="WIDTH: 400px" cellspacing="0" cellpadding="0" width="400" border="0" class="ng-scope" id="signatureJF">
        <tbody>
          <tr>
            <td style="FONT-SIZE: 10pt; FONT-FAMILY: Arial, sans-serif; WIDTH: 400px; line-height:13pt" width="400" colspan="2">
              <span style="FONT-SIZE: 18pt; line-height:18pt; FONT-FAMILY: Arial Black; COLOR: #0e1558" class="ng-binding">Licda. Jennifer Fallas</span><br>
              <span style="FONT-SIZE: 12pt; FONT-FAMILY: Arial Black; color:#16182A" class="ng-binding">OTAS & E-commerce</span>
              <br><br>
              <span ng-if="showField('mobile')" class="ng-scope"><span>Mobile:</span> <span style="COLOR: #0e1558" class="ng-binding">(506) 8575-7070</span><br></span>
              <span ng-if="showField('phone')" class="ng-scope"><span>Phone:</span> <span style="COLOR: #0e1558" class="ng-binding">(506) 2220-2425</span><br></span>
              <span ng-if="showField('email')" class="ng-scope"><span>Email:</span> <span style="COLOR: #0e1558" class="ng-binding">reservations1@consuhotel.com</span><br></span>
            </td>
          </tr>
          <tr>
            <td style="WIDTH: 150px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px" valign="middle" width="150">
              <a href="http://www.consuhotel.com" target="_blank" rel="noopener" style=" text-decoration:none;">
                <strong style="color:#0000FF; font-family:Arial, sans-serif; font-size:10pt" class="ng-binding">www.consuhotel.com</strong>
              </a>
            </td>
            <td style="WIDTH: 250px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px" width="250" valign="middle" align="right">
              <span ng-if="showField('facebookURL')" class="ng-scope">
                <a href="https://www.facebook.com/ConsuHotel/" target="_blank" rel="noopener"><img border="0" width="24" ng-src="https://raw.githubusercontent.com/rauldario/firmasCH/main/blueF.png" alt="facebook icon" style="border:0; height:24px; width:24px" src="https://raw.githubusercontent.com/rauldario/firmasCH/main/blueF.png"></a>&nbsp;
              </span>
              <span ng-if="showField('youtubeURL')" class="ng-scope">
                <a href="https://www.youtube.com/channel/UCHcNoLawWU2sSCwEMEf4KEQ" target="_blank" rel="noopener"><img border="0" width="24" ng-src="https://raw.githubusercontent.com/rauldario/firmasCH/main/blueYT.png" alt="youtube icon" style="border:0; height:24px; width:24px" src="https://raw.githubusercontent.com/rauldario/firmasCH/main/blueYT.png"></a>&nbsp;
              </span>
              <span ng-if="showField('linkedinURL')" class="ng-scope">
                <a href="https://www.linkedin.com/company/consuhotel/" target="_blank" rel="noopener"><img border="0" width="24" ng-src="https://raw.githubusercontent.com/rauldario/firmasCH/main/blueIN.png" alt="linkedin icon" style="border:0; height:24px; width:24px" src="https://raw.githubusercontent.com/rauldario/firmasCH/main/blueIN.png"></a>&nbsp;
              </span>
            </td>
          </tr>
          <tr ng-if="showField('banner')" class="ng-scope">
            <td style="WIDTH: 399px" width="399" colspan="2">
              <a ng-if="showField('bannerURL')" href="https://www.consuhotel.com" target="_blank" rel="noopener" class="ng-scope">
                <img border="0" ng-src="https://raw.githubusercontent.com/rauldario/firmasCH/main/logoCH.png" alt="logo" width="399" style="max-width:399px; height:auto; border:0;" src="https://raw.githubusercontent.com/rauldario/firmasCH/main/logoCH.png">
              </a>
            </td>
          </tr>
        </tbody>
      </table>
      <hr style="width: 450px; margin-left: 0px">
      <button id="button1" onclick="CopyToClipboard('signatureJF')" style="margin-left: 150px; width: 120px; height: 30px; border-radius: 10px; background:#0e1558; color:#FFFFFF; font-family:Arial, sans-serif; font-size:10pt">Copiar Firma</button>
    </div>

    <br><br><hr style="width: 450px; margin-left: 0px; border-top: solid 1px red">
    <hr style="width: 450px; margin-left: 0px; border-top: solid 1px red"><br>


    <div id="signaturePreview" src="selectedTemplatePath" class="ng-scope">
      <table style="WIDTH: 400px" cellspacing="0" cellpadding="0" width="400" border="0" class="ng-scope" id="signatureCR">
        <tbody>
          <tr>
            <td style="FONT-SIZE: 10pt; FONT-FAMILY: Arial, sans-serif; WIDTH: 400px; line-height:13pt" width="400" colspan="2">
              <span style="FONT-SIZE: 18pt; line-height:18pt; FONT-FAMILY: Arial Black; COLOR: #0e1558" class="ng-binding">MBA. Carolina Ram&iacuterez</span><br>
              <span style="FONT-SIZE: 12pt; FONT-FAMILY: Arial Black; color:#16182A" class="ng-binding">Contabilidad</span>
              <br><br>
              <span ng-if="showField('phone')" class="ng-scope"><span>Phone:</span> <span style="COLOR: #0e1558" class="ng-binding">(506) 2220-2425</span><br></span>
              <span ng-if="showField('email')" class="ng-scope"><span>Email:</span> <span style="COLOR: #0e1558" class="ng-binding">cobros@consuhotel.com</span><br></span>
            </td>
          </tr>
          <tr>
            <td style="WIDTH: 150px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px" valign="middle" width="150">
              <a href="http://www.consuhotel.com" target="_blank" rel="noopener" style=" text-decoration:none;">
                <strong style="color:#0000FF; font-family:Arial, sans-serif; font-size:10pt" class="ng-binding">www.consuhotel.com</strong>
              </a>
            </td>
            <td style="WIDTH: 250px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px" width="250" valign="middle" align="right">
              <span ng-if="showField('facebookURL')" class="ng-scope">
                <a href="https://www.facebook.com/ConsuHotel/" target="_blank" rel="noopener"><img border="0" width="24" ng-src="https://raw.githubusercontent.com/rauldario/firmasCH/main/blueF.png" alt="facebook icon" style="border:0; height:24px; width:24px" src="https://raw.githubusercontent.com/rauldario/firmasCH/main/blueF.png"></a>&nbsp;
              </span>
              <span ng-if="showField('youtubeURL')" class="ng-scope">
                <a href="https://www.youtube.com/channel/UCHcNoLawWU2sSCwEMEf4KEQ" target="_blank" rel="noopener"><img border="0" width="24" ng-src="https://raw.githubusercontent.com/rauldario/firmasCH/main/blueYT.png" alt="youtube icon" style="border:0; height:24px; width:24px" src="https://raw.githubusercontent.com/rauldario/firmasCH/main/blueYT.png"></a>&nbsp;
              </span>
              <span ng-if="showField('linkedinURL')" class="ng-scope">
                <a href="https://www.linkedin.com/company/consuhotel/" target="_blank" rel="noopener"><img border="0" width="24" ng-src="https://raw.githubusercontent.com/rauldario/firmasCH/main/blueIN.png" alt="linkedin icon" style="border:0; height:24px; width:24px" src="https://raw.githubusercontent.com/rauldario/firmasCH/main/blueIN.png"></a>&nbsp;
              </span>
            </td>
          </tr>
          <tr ng-if="showField('banner')" class="ng-scope">
            <td style="WIDTH: 399px" width="399" colspan="2">
              <a ng-if="showField('bannerURL')" href="https://www.consuhotel.com" target="_blank" rel="noopener" class="ng-scope">
                <img border="0" ng-src="https://raw.githubusercontent.com/rauldario/firmasCH/main/logoCH.png" alt="logo" width="399" style="max-width:399px; height:auto; border:0;" src="https://raw.githubusercontent.com/rauldario/firmasCH/main/logoCH.png">
              </a>
            </td>
          </tr>
        </tbody>
      </table>
      <hr style="width: 450px; margin-left: 0px">
      <button id="button1" onclick="CopyToClipboard('signatureJF')" style="margin-left: 150px; width: 120px; height: 30px; border-radius: 10px; background:#0e1558; color:#FFFFFF; font-family:Arial, sans-serif; font-size:10pt">Copiar Firma</button>
    </div>

    <br><br><hr style="width: 450px; margin-left: 0px; border-top: solid 1px red">
    <hr style="width: 450px; margin-left: 0px; border-top: solid 1px red"><br>

    <script>
      function CopyToClipboard(containerid) {
        if (document.selection) {
          var range = document.body.createTextRange();
          range.moveToElementText(document.getElementById(containerid));
          range.select().createTextRange();
          document.execCommand("copy");

        } else if (window.getSelection) {
          var range = document.createRange();
          range.selectNode(document.getElementById(containerid));
          window.getSelection().addRange(range);
          document.execCommand("copy");
          alert("La firma se copió, ahora peguela en el área deseada")
        }
      }
    </script>

  </body>
</html>
