<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Firmas Consuhotel</title>
  </head>
  <body>
    <hr style="width: 450px; margin-left: 0; border-top: solid 1px red"><br>

    <div id="signaturePreview" src="selectedTemplatePath">
      <table style="WIDTH: 400px" cellspacing="0" cellpadding="0" width="400" border="0" id="signatureSG">
        <tbody>
          <tr>
            <td style="FONT-SIZE: 10pt; FONT-FAMILY: Arial, sans-serif; WIDTH: 400px; line-height:13pt" width="400" colspan="2">
              <span style="FONT-SIZE: 18pt; line-height:18pt; FONT-FAMILY: Arial Black; color:#9d262a">Josué Lawrence Madrigal</span><br>
              <span style="FONT-SIZE: 12pt; FONT-FAMILY: Arial Black; color:#16182A">Recepción y Reservaciones</span>
              <br><br>
              <span><span>Phone:</span> <span style="COLOR: #9d262a">(506) 2296-1001</span><br></span>
              <span><span>Whatsapp:</span> <span style="COLOR: #9d262a">(506) 6346-8213</span><br></span>              
              <span><span>Email:</span> <span style="COLOR: #9d262a">info@hotelrincondelvalle.com</span><br></span>
            </td>
          </tr>
          <tr>
            <td style="WIDTH: 150px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px" valign="middle" width="150">
            </td>
            <td style="WIDTH: 250px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px" width="250" valign="middle" align="right">
            </td>
          </tr>
          <tr>
            <td style="WIDTH: 399px" width="399" colspan="2" text-align:"right">
              <a href="https://www.consuhotel.com" target="_blank" rel="noopener">
                <img border="0" alt="logo" width="auto" style="max-width:399px; height:auto; border:0; padding-left:95px;" src="https://raw.githubusercontent.com/rauldario/firmasRV/main/logoCH.png">
              </a>
            </td>
          </tr>
        </tbody>
      </table>
      <hr style="width: 450px; margin-left: 0px">
      <button id="button1" onclick="CopyToClipboard('signatureSG')" style="margin-left: 150px; width: 120px; height: 30px; border-radius: 10px; background:#0e1558; color:#FFFFFF; font-family:Arial, sans-serif; font-size:10pt">Copiar Firma</button>
    </div>

    <br><br><hr style="width: 450px; margin-left: 0px; border-top: solid 1px blue">
    <hr style="width: 450px; margin-left: 0px; border-top: solid 1px blue"><br>

    <div id="signaturePreview" src="selectedTemplatePath">
      <table style="WIDTH: 400px" cellspacing="0" cellpadding="0" width="400" border="0" id="signatureJF">
        <tbody>
          <tr>
            <td style="FONT-SIZE: 10pt; FONT-FAMILY: Arial, sans-serif; WIDTH: 400px; line-height:13pt" width="400" colspan="2">
              <span style="FONT-SIZE: 18pt; line-height:18pt; FONT-FAMILY: Arial Black; COLOR: #0e1558">Licda. Jennifer Fallas</span><br>
              <span style="FONT-SIZE: 12pt; FONT-FAMILY: Arial Black; color:#16182A" class="ng-binding">OTAS & E-commerce</span>
              <br><br>
              <span ng-if="showField('mobile')"><span>Mobile:</span> <span style="COLOR: #0e1558">(506) 8575-7070</span><br></span>
              <span ng-if="showField('phone')"><span>Phone:</span> <span style="COLOR: #0e1558">(506) 2220-2425</span><br></span>
              <span ng-if="showField('email')"><span>Email:</span> <span style="COLOR: #0e1558">reservations1@consuhotel.com</span><br></span>
            </td>
          </tr>
          <tr>
            <td style="WIDTH: 150px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px" valign="middle" width="150">
              <a href="http://www.consuhotel.com" target="_blank" rel="noopener" style=" text-decoration:none;">
                <strong style="color:#0000FF; font-family:Arial, sans-serif; font-size:10pt">www.consuhotel.com</strong>
              </a>
            </td>
            <td style="WIDTH: 250px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px" width="250" valign="middle" align="right">
              <span ng-if="showField('facebookURL')">
                <a href="https://www.facebook.com/ConsuHotel/" target="_blank" rel="noopener"><img border="0" width="24" ng-src="https://raw.githubusercontent.com/rauldario/firmasRV/main/redF.png" alt="facebook icon" style="border:0; height:24px; width:24px" src="https://raw.githubusercontent.com/rauldario/firmasRV/main/redF.png"></a>&nbsp;
              </span>
              <span ng-if="showField('youtubeURL')" class="ng-scope">
                <a href="https://www.youtube.com/channel/UCHcNoLawWU2sSCwEMEf4KEQ" target="_blank" rel="noopener"><img border="0" width="24" ng-src="https://raw.githubusercontent.com/rauldario/firmasRV/main/redYT.png" alt="youtube icon" style="border:0; height:24px; width:24px" src="https://raw.githubusercontent.com/rauldario/firmasRV/main/redYT.png"></a>&nbsp;
              </span>
              <span ng-if="showField('linkedinURL')" class="ng-scope">
                <a href="https://www.linkedin.com/company/consuhotel/" target="_blank" rel="noopener"><img border="0" width="24" ng-src="https://raw.githubusercontent.com/rauldario/firmasRV/main/redIN.png" alt="linkedin icon" style="border:0; height:24px; width:24px" src="https://raw.githubusercontent.com/rauldario/firmasRV/main/redIN.png"></a>&nbsp;
              </span>
            </td>
          </tr>
          <tr ng-if="showField('banner')">
            <td style="WIDTH: 399px" width="399" colspan="2">
              <a ng-if="showField('bannerURL')" href="https://www.consuhotel.com" target="_blank" rel="noopener">
                <img border="0" ng-src="https://raw.githubusercontent.com/rauldario/firmasRV/main/logoCH.png" alt="logo" width="auto" style="max-width:399px; height:auto; border:0; padding-left:95px;" src="https://raw.githubusercontent.com/rauldario/firmasRV/main/logoCH.png">
              </a>
            </td>
          </tr>
        </tbody>
      </table>
      <hr style="width: 450px; margin-left: 0px">
      <button id="button1" onclick="CopyToClipboard('signatureJF')" style="margin-left: 150px; width: 120px; height: 30px; border-radius: 10px; background:#0e1558; color:#FFFFFF; font-family:Arial, sans-serif; font-size:10pt">Copiar Firma</button>
    </div>

    <br><br><hr style="width: 450px; margin-left: 0px; border-top: solid 1px red">
    <hr style="width: 450px; margin-left: 0px; border-top: solid 1px red"><br>


    <div id="signaturePreview" src="selectedTemplatePath">
      <table style="WIDTH: 400px" cellspacing="0" cellpadding="0" width="400" border="0" id="signatureCR">
        <tbody>
          <tr>
            <td style="FONT-SIZE: 10pt; FONT-FAMILY: Arial, sans-serif; WIDTH: 400px; line-height:13pt" width="400" colspan="2">
              <span style="FONT-SIZE: 18pt; line-height:18pt; FONT-FAMILY: Arial Black; COLOR: #0e1558">MBA. Carolina Ram&iacuterez</span><br>
              <span style="FONT-SIZE: 12pt; FONT-FAMILY: Arial Black; color:#16182A">Contabilidad</span>
              <br><br>
              <span ng-if="showField('phone')"><span>Phone:</span> <span style="COLOR: #0e1558">(506) 2220-2425</span><br></span>
              <span ng-if="showField('email')"><span>Email:</span> <span style="COLOR: #0e1558">cobros@consuhotel.com</span><br></span>
            </td>
          </tr>
          <tr>
            <td style="WIDTH: 150px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px" valign="middle" width="150">
              <a href="http://www.consuhotel.com" target="_blank" rel="noopener" style=" text-decoration:none;">
                <strong style="color:#0000FF; font-family:Arial, sans-serif; font-size:10pt">www.consuhotel.com</strong>
              </a>
            </td>
            <td style="WIDTH: 250px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px" width="250" valign="middle" align="right">
              <span ng-if="showField('facebookURL')">
                <a href="https://www.facebook.com/ConsuHotel/" target="_blank" rel="noopener"><img border="0" width="24" ng-src="https://raw.githubusercontent.com/rauldario/firmasRV/main/redF.png" alt="facebook icon" style="border:0; height:24px; width:24px" src="https://raw.githubusercontent.com/rauldario/firmasRV/main/redF.png"></a>&nbsp;
              </span>
              <span ng-if="showField('youtubeURL')">
                <a href="https://www.youtube.com/channel/UCHcNoLawWU2sSCwEMEf4KEQ" target="_blank" rel="noopener"><img border="0" width="24" ng-src="https://raw.githubusercontent.com/rauldario/firmasRV/main/redYT.png" alt="youtube icon" style="border:0; height:24px; width:24px" src="https://raw.githubusercontent.com/rauldario/firmasRV/main/redYT.png"></a>&nbsp;
              </span>
              <span ng-if="showField('linkedinURL')">
                <a href="https://www.linkedin.com/company/consuhotel/" target="_blank" rel="noopener"><img border="0" width="24" ng-src="https://raw.githubusercontent.com/rauldario/firmasRV/main/redIN.png" alt="linkedin icon" style="border:0; height:24px; width:24px" src="https://raw.githubusercontent.com/rauldario/firmasRV/main/redIN.png"></a>&nbsp;
              </span>
            </td>
          </tr>
          <tr ng-if="showField('banner')">
            <td style="WIDTH: 399px" width="399" colspan="2">
              <a ng-if="showField('bannerURL')" href="https://www.consuhotel.com" target="_blank" rel="noopener">
                <img border="0" ng-src="https://raw.githubusercontent.com/rauldario/firmasRV/main/logoCH.png" alt="logo" width="auto" style="max-width:399px; height:auto; border:0; padding-left:95px;" src="https://raw.githubusercontent.com/rauldario/firmasRV/main/logoCH.png">
              </a>
            </td>
          </tr>
        </tbody>
      </table>
      <hr style="width: 450px; margin-left: 0px">
      <button id="button1" onclick="CopyToClipboard('signatureCR')" style="margin-left: 150px; width: 120px; height: 30px; border-radius: 10px; background:#0e1558; color:#FFFFFF; font-family:Arial, sans-serif; font-size:10pt">Copiar Firma</button>
    </div>

    <br><br><hr style="width: 450px; margin-left: 0px; border-top: solid 1px red">
    <hr style="width: 450px; margin-left: 0px; border-top: solid 1px red"><br>
    
    
   <div id="signaturePreview" src="selectedTemplatePath">
     <table style="WIDTH: 400px" cellspacing="0" cellpadding="0" width="400" border="0" id="signatureJFRH">
      <tbody>
        <tr>
          <td style="FONT-SIZE: 10pt; FONT-FAMILY: Arial, sans-serif; WIDTH: 400px; line-height:13pt" width="400" colspan="2">
            <span style="FONT-SIZE: 18pt; line-height:18pt; FONT-FAMILY: Arial Black; COLOR: #0e1558">Licda. Jennifer Fallas</span><br>
            <span style="FONT-SIZE: 12pt; FONT-FAMILY: Arial Black; color:#16182A" class="ng-binding">Gestión y Reclutamiento de RRHH</span>
            <br><br>
            <span ng-if="showField('mobile')"><span>Mobile:</span> <span style="COLOR: #0e1558">(506) 8575-7070</span><br></span>
            <span ng-if="showField('phone')"><span>Phone:</span> <span style="COLOR: #0e1558">(506) 2220-2425</span><br></span>
            <span ng-if="showField('email')"><span>Email:</span> <span style="COLOR: #0e1558">rrhh@consuhotel.com</span><br></span>
          </td>
        </tr>
        <tr>
          <td style="WIDTH: 150px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px" valign="middle" width="150">
            <a href="http://www.consuhotel.com" target="_blank" rel="noopener" style=" text-decoration:none;">
              <strong style="color:#0000FF; font-family:Arial, sans-serif; font-size:10pt">www.consuhotel.com</strong>
            </a>
          </td>
          <td style="WIDTH: 250px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px" width="250" valign="middle" align="right">
            <span ng-if="showField('facebookURL')">
                <a href="https://www.facebook.com/ConsuHotel/" target="_blank" rel="noopener"><img border="0" width="24" ng-src="https://raw.githubusercontent.com/rauldario/firmasRV/main/blueF.png" alt="facebook icon" style="border:0; height:24px; width:24px" src="https://raw.githubusercontent.com/rauldario/firmasRV/main/blueF.png"></a>&nbsp;
              </span>
              <span ng-if="showField('youtubeURL')" class="ng-scope">
                <a href="https://www.youtube.com/channel/UCHcNoLawWU2sSCwEMEf4KEQ" target="_blank" rel="noopener"><img border="0" width="24" ng-src="https://raw.githubusercontent.com/rauldario/firmasRV/main/redYT.png" alt="youtube icon" style="border:0; height:24px; width:24px" src="https://raw.githubusercontent.com/rauldario/firmasRV/main/redYT.png"></a>&nbsp;
              </span>
              <span ng-if="showField('linkedinURL')" class="ng-scope">
                <a href="https://www.linkedin.com/company/consuhotel/" target="_blank" rel="noopener"><img border="0" width="24" ng-src="https://raw.githubusercontent.com/rauldario/firmasRV/main/redIN.png" alt="linkedin icon" style="border:0; height:24px; width:24px" src="https://raw.githubusercontent.com/rauldario/firmasRV/main/redIN.png"></a>&nbsp;
              </span>
            </td>
          </tr>
          <tr ng-if="showField('banner')">
            <td style="WIDTH: 399px" width="399" colspan="2">
              <a ng-if="showField('bannerURL')" href="https://www.consuhotel.com" target="_blank" rel="noopener">
                <img border="0" ng-src="https://raw.githubusercontent.com/rauldario/firmasRV/main/logoCH.png" alt="logo" width="auto" style="max-width:399px; height:auto; border:0; padding-left:95px;" src="https://raw.githubusercontent.com/rauldario/firmasRV/main/logoCH.png">
              </a>
            </td>
          </tr>
        </tbody>
      </table>
      <hr style="width: 450px; margin-left: 0px">
      <button id="button1" onclick="CopyToClipboard('signatureJFRH')" style="margin-left: 150px; width: 120px; height: 30px; border-radius: 10px; background:#0e1558; color:#FFFFFF; font-family:Arial, sans-serif; font-size:10pt">Copiar Firma</button>
    </div>
    
    <br><br><hr style="width: 450px; margin-left: 0px; border-top: solid 1px red">
    <hr style="width: 450px; margin-left: 0px; border-top: solid 1px red"><br>
  
    
   <div id="signaturePreview" src="selectedTemplatePath">
     <table style="WIDTH: 400px" cellspacing="0" cellpadding="0" width="400" border="0" id="signatureJFFor">
      <tbody>
        <tr>
          <td style="FONT-SIZE: 10pt; FONT-FAMILY: Arial, sans-serif; WIDTH: 400px; line-height:13pt" width="400" colspan="2">
            <span style="FONT-SIZE: 18pt; line-height:18pt; FONT-FAMILY: Arial Black; COLOR: #0e1558">Licda. Jennifer Fallas</span><br>
            <span style="FONT-SIZE: 12pt; FONT-FAMILY: Arial Black; color:#16182A" class="ng-binding">Formación</span>
            <br><br>
            <span ng-if="showField('mobile')"><span>Mobile:</span> <span style="COLOR: #0e1558">(506) 8575-7070</span><br></span>
            <span ng-if="showField('phone')"><span>Phone:</span> <span style="COLOR: #0e1558">(506) 2220-2425</span><br></span>
            <span ng-if="showField('email')"><span>Email:</span> <span style="COLOR: #0e1558">formacion@consuhotel.com</span><br></span>
          </td>
        </tr>
        <tr>
          <td style="WIDTH: 150px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px" valign="middle" width="150">
            <a href="http://www.consuhotel.com" target="_blank" rel="noopener" style=" text-decoration:none;">
              <strong style="color:#0000FF; font-family:Arial, sans-serif; font-size:10pt">www.consuhotel.com</strong>
            </a>
          </td>
          <td style="WIDTH: 250px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px" width="250" valign="middle" align="right">
            <span ng-if="showField('facebookURL')">
                <a href="https://www.facebook.com/ConsuHotel/" target="_blank" rel="noopener"><img border="0" width="24" ng-src="https://raw.githubusercontent.com/rauldario/firmasRV/main/redF.png" alt="facebook icon" style="border:0; height:24px; width:24px" src="https://raw.githubusercontent.com/rauldario/firmasRV/main/redF.png"></a>&nbsp;
              </span>
              <span ng-if="showField('youtubeURL')" class="ng-scope">
                <a href="https://www.youtube.com/channel/UCHcNoLawWU2sSCwEMEf4KEQ" target="_blank" rel="noopener"><img border="0" width="24" ng-src="https://raw.githubusercontent.com/rauldario/firmasRV/main/redYT.png" alt="youtube icon" style="border:0; height:24px; width:24px" src="https://raw.githubusercontent.com/rauldario/firmasRV/main/redYT.png"></a>&nbsp;
              </span>
              <span ng-if="showField('linkedinURL')" class="ng-scope">
                <a href="https://www.linkedin.com/company/consuhotel/" target="_blank" rel="noopener"><img border="0" width="24" ng-src="https://raw.githubusercontent.com/rauldario/firmasRV/main/redIN.png" alt="linkedin icon" style="border:0; height:24px; width:24px" src="https://raw.githubusercontent.com/rauldario/firmasRV/main/redIN.png"></a>&nbsp;
              </span>
            </td>
          </tr>
          <tr ng-if="showField('banner')">
            <td style="WIDTH: 399px" width="399" colspan="2">
              <a ng-if="showField('bannerURL')" href="https://www.consuhotel.com" target="_blank" rel="noopener">
                <img border="0" ng-src="https://raw.githubusercontent.com/rauldario/firmasRV/main/logoCH.png" alt="logo" width="auto" style="max-width:399px; height:auto; border:0; padding-left:95px;" src="https://raw.githubusercontent.com/rauldario/firmasRV/main/logoCH.png">
              </a>
            </td>
          </tr>
        </tbody>
      </table>
      <hr style="width: 450px; margin-left: 0px">
      <button id="button1" onclick="CopyToClipboard('signatureJFFor')" style="margin-left: 150px; width: 120px; height: 30px; border-radius: 10px; background:#0e1558; color:#FFFFFF; font-family:Arial, sans-serif; font-size:10pt">Copiar Firma</button>
    </div>

    <br><br><hr style="width: 450px; margin-left: 0px; border-top: solid 1px red">
    <hr style="width: 450px; margin-left: 0px; border-top: solid 1px red"><br>    
    

   <div id="signaturePreview" src="selectedTemplatePath">
     <table style="WIDTH: 400px" cellspacing="0" cellpadding="0" width="400" border="0" id="signatureAK">
      <tbody>
        <tr>
          <td style="FONT-SIZE: 10pt; FONT-FAMILY: Arial, sans-serif; WIDTH: 400px; line-height:13pt" width="400" colspan="2">
            <span style="FONT-SIZE: 18pt; line-height:18pt; FONT-FAMILY: Arial Black; COLOR: #0e1558">Alex Krause</span><br>
            <span style="FONT-SIZE: 12pt; FONT-FAMILY: Arial Black; color:#16182A" class="ng-binding">Revenue Management</span>
            <br><br>
            <span ng-if="showField('phone')"><span>Phone:</span> <span style="COLOR: #0e1558">(506) 2220-2425</span><br></span>
            <span ng-if="showField('email')"><span>Email:</span> <span style="COLOR: #0e1558">revenuemanagement@consuhotel.com</span><br></span>
          </td>
        </tr>
        <tr>
          <td style="WIDTH: 150px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px" valign="middle" width="150">
            <a href="http://www.consuhotel.com" target="_blank" rel="noopener" style=" text-decoration:none;">
              <strong style="color:#0000FF; font-family:Arial, sans-serif; font-size:10pt">www.consuhotel.com</strong>
            </a>
          </td>
          <td style="WIDTH: 250px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px" width="250" valign="middle" align="right">
            <span ng-if="showField('facebookURL')">
                <a href="https://www.facebook.com/ConsuHotel/" target="_blank" rel="noopener"><img border="0" width="24" ng-src="https://raw.githubusercontent.com/rauldario/firmasRV/main/blueF.png" alt="facebook icon" style="border:0; height:24px; width:24px" src="https://raw.githubusercontent.com/rauldario/firmasRV/main/blueF.png"></a>&nbsp;
              </span>
              <span ng-if="showField('youtubeURL')" class="ng-scope">
                <a href="https://www.youtube.com/channel/UCHcNoLawWU2sSCwEMEf4KEQ" target="_blank" rel="noopener"><img border="0" width="24" ng-src="https://raw.githubusercontent.com/rauldario/firmasRV/main/redYT.png" alt="youtube icon" style="border:0; height:24px; width:24px" src="https://raw.githubusercontent.com/rauldario/firmasRV/main/redYT.png"></a>&nbsp;
              </span>
              <span ng-if="showField('linkedinURL')" class="ng-scope">
                <a href="https://www.linkedin.com/company/consuhotel/" target="_blank" rel="noopener"><img border="0" width="24" ng-src="https://raw.githubusercontent.com/rauldario/firmasRV/main/redIN.png" alt="linkedin icon" style="border:0; height:24px; width:24px" src="https://raw.githubusercontent.com/rauldario/firmasRV/main/redIN.png"></a>&nbsp;
              </span>
            </td>
          </tr>
          <tr ng-if="showField('banner')">
            <td style="WIDTH: 399px" width="399" colspan="2">
              <a ng-if="showField('bannerURL')" href="https://www.consuhotel.com" target="_blank" rel="noopener">
                <img border="0" ng-src="https://raw.githubusercontent.com/rauldario/firmasRV/main/logoCH.png" alt="logo" width="auto" style="max-width:399px; height:auto; border:0; padding-left:95px;" src="https://raw.githubusercontent.com/rauldario/firmasRV/main/logoCH.png">
              </a>
            </td>
          </tr>
        </tbody>
      </table>
      <hr style="width: 450px; margin-left: 0px">
      <button id="button1" onclick="CopyToClipboard('signatureAK')" style="margin-left: 150px; width: 120px; height: 30px; border-radius: 10px; background:#0e1558; color:#FFFFFF; font-family:Arial, sans-serif; font-size:10pt">Copiar Firma</button>
    </div>

    <br><br><hr style="width: 450px; margin-left: 0px; border-top: solid 1px red">
    <hr style="width: 450px; margin-left: 0px; border-top: solid 1px red"><br>
    
    

    <script>
      function CopyToClipboard(containerid) {
        if (document.selection) {
          var range = document.body.createTextRange();
          range.moveToElementText(document.getElementById(containerid));
          range.select().createTextRange();
          document.execCommand("copy");

        } else if (window.getSelection) {
          var range = document.createRange();
          range.selectNode(document.getElementById(containerid));
          window.getSelection().addRange(range);
          document.execCommand("copy");
          alert("La firma se copió, ahora peguela en el área deseada")
        }
      }
    </script>

  </body>
</html>
